nav{
	position: absolute;
	margin: 15px 0;
	top:0px;
	border-bottom-style: ridge;
}
nav > ul > li{
	line-height:30px;
	margin-left:20px;
	float :left;
	list-style-type: none;
	text-indent: 30px;
	text-align:center;
}
nav > ul > li > a{
	cursor: pointer;
	text-decoration:none;
	text-transform:uppercase;
	font-size:15px;
	font-weight: bold;
	font-family: 'Open Sans',sans-serif;
	outline: none;
	display: inline-block;
	color:black;
	text-align:center;
	border: 5px none ;
	border-radius: 15px ;
}
nav > ul > li:hover > a {
	color:white;
	background-color: #b07a23;
}